.overlay-text {
  position: relative;
  bottom: 60px;
  height: 0px;
  opacity: 0.7;
}
.orange-text {
  color: orange;
  text-align: end;
}
.hr-border {
  border: 0.6px solid;
}
.small-fonts h6 small {
  font-size: 60%;
}
.line-content {
  display: flex;
  justify-content: space-between;
}
.dimensions {
  height: 300px;
  width: 300px;
}
.card-set {
  max-width: 300px;
}
.bg-black {
  background-color: black;
}
