.overlay-text {
  position: absolute;
  top: 12.6em;
  left: 0px;
  opacity: 0.5;
}
.orange-text {
  color: orange;
  text-align: end;
}
.hr-border {
  border: 0.6px solid;
}
.small-fonts h6 small {
  font-size: 60%;
}
.line-content{
  display: flex;
  justify-content: space-between;
}
